/* Set background color and font */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  /* Center the registration form */
  .registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  /* Style the form inputs and labels */
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"],
  .registration-form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 3px;
  }
  
  .registration-form label {
    font-weight: bold;
  }
  
  .registration-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Style the Google Sign-In button */
  .google-sign-in-button {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .google-sign-in-button:hover {
    background-color: #eee;
  }